/* Global Styles */
:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    scroll-behavior: smooth;
    text-align: center;
    margin-inline: auto;
    scroll-snap-type: y proximity;
}

body {
    margin: 0;
    background-color: aqua; /* Set background color for the entire body */
}

a {
    margin-right: 15px;
    color: inherit;
    text-decoration: none;
    cursor: url(../Images/cursor.png), auto;
}

/* Desktop styles */
@media screen and (min-width: 768px) {
    /* Hide mobile navigation */
    .closebtn,
    .openbtn {
        display: none;
    }

    /* Initial Section Styles */
    .intro {
        background-color: rgba(0, 0, 0, 0.5); /* Background color with transparency */
        padding-top: 10px;
        color: whitesmoke;
        background-image: url(../Images/Welcome-to-Eifel.jpg);
        background-size: cover;
        background-clip: border-box;
        height: 100vh;
    }

    /* Container Styles */
    .container {
        position: absolute; /* Set position to fixed */
        top: 0;
        width: 100%; /* Cover entire viewport width */
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: whitesmoke;
        text-align: start;
        margin: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    }

    /* Name and Navigation Styles */
    .name, .nav {
        display: flex;
        align-items: center;
    }

    .name {
        width: fit-content;
        margin-left: 5px;
        transition: color 1s ease-in-out; 
        cursor: default;
        user-select: none;
    }

    .name:hover {
        color: red;
        animation: wiggle 4s ease-in-out infinite; 
        animation-delay: 0.5s;
    }

    /* Navigation Styles */
    .nav {
        letter-spacing: 1px;
        align-items: center;
        justify-content: space-between;
        width: 30%;
    }

    .nav-item {
        height: 100%;
        font-size: 1rem;
        letter-spacing: normal;
        transition: color 1s;
    }

    .nav-item:hover {
        color: chartreuse;
        font-size: 1.1rem;
        font-family: cursive;
        animation: ship 2.5s ease-in-out infinite;
        animation-delay: 0.5s;
        background: scroll;
    }

    /* Animation Keyframes */
    @keyframes wiggle {
        50% {
            transform: rotate(-20deg);
        }
        0%, 100% {
            transform: rotate(0deg);
        } 
    }

    @keyframes ship {
        0% {
            transform: rotate(0deg);
        } 
        25% {
            transform: rotate(-20deg);
        }
        75% {
            transform: rotate(20deg);
        }
    }

    /* Heading Styles */
    .intro h1 {
        padding-top: 5px;
        font-size: 2rem;
        transition: font-size 1s ease-in-out, letter-spacing 0.5s ease-in-out;
        transition-delay: 0.2s;
        width: fit-content;
        margin-inline: auto;
        height: 2rem; 
        line-height: 2rem; 
    }

    .intro h1:hover {
        letter-spacing: 0.2rem;
        font-size: 2.2rem;
        color: inherit, blueviolet;
    }

    /* About Me Section Styles */
    .about {
        height: 100vh;
        padding-top: 5px;
        background-color: aqua;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0; /* Initially hide the content */
        transition: opacity 1s ease-out; /* Add transition for opacity */
        position: relative; /* Set position to relative */
        z-index: 1; /* Set z-index to ensure it's above the background */
    }

    .about.active {
        opacity: 1;
    }

    /* Contact Section Styles */
    .contact {
        background-color: whitesmoke;
        color: black;
        min-height: 15vh;
        max-height: 100vh;
        margin-top: -1.5%;
    }

    .contact img {
        max-height: 25px;
        max-width: 25px;
    }

    .socials {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-inline: 10%; /* Adjusted for smaller screens */
    }

    .socials a {
        text-align: center;
        text-decoration: none;
        color: inherit;
        margin-right: 10px; /* Adjusted for smaller screens */
        width: auto; 
    }

    .socials a img {
        display: block;
        max-width: 25px;
        max-height: 25px;
        transition: all 0.3s ease-in-out;
    }

    .socials a img:hover {
        transform: scale(1.3);
        filter: grayscale(100%);
    }

    .socials a p {
        margin: 0;
        font-size: 0.5rem;
    }
}