/* Mobile styles */
@media screen and (max-width: 768px) {

    .MobileNav {
        position: absolute;
        top: 5;
        left: 90%;
    }

    .intro {
        grid-template: auto auto;
    }
    
    .name {
        font-size: large;
        position: absolute;
    }

    .nav {    
        display: none;

    }
    .nav:active {    
        display: grid;
        grid-template-columns: auto auto;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: x-large;
        height: 100svh;
    }
    
    section {
        display: none;
    }
}
