* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    scroll-behavior: smooth;

}

*::-webkit-scrollbar{
    display: none;
}

.initial {
    width: auto;
    height: 100vh;

}

body {
    background-color: darkred;
    padding-top: 10px;
    align-items: center;
    text-align: center;
    color: whitesmoke;
    background-image: url(../Images/Welcome-to-Eifele.jpg);

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: whitesmoke;
    text-align: start;
    border-radius: 10px;
}

.name, .nav {
    display: flex;
    align-items: center;
}

.name {
    width: fit-content;
    margin-left: 5px;
}

.nav {
    margin: auto;
    letter-spacing: 1px;
    align-items: center;
    justify-content: space-between;
}

a {
    margin-right: 15px;
    color:  inherit;
    text-decoration: none;
}

.nav-item {
    font-size: 1rem;
    line-height: 24px;
    text-align: left;
    letter-spacing: normal;

}

h1 {
    font-size: 2rem;
}

.contact {
    background-color: whitesmoke;
    color: black;
}

